<nb-card>
  <nb-card-header class="centertext increased_text_size">Message Panel</nb-card-header>
  <nb-layout center>
    <nb-layout-column class="colored-column-warning">
      <form #messageForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <nb-card>
          <nb-card-header class="centertext">Send Message</nb-card-header>
          <nb-card-body>
            <small [class.invalid]="userId.valid || userId.untouched">User ID required</small>
            <input type="text" name="userId" required #userId="ngModel" class="padding" nbInput fullWidth [(ngModel)] = "id" [status]="userId.valid || userId.untouched ? 'info' : 'danger'" placeholder="user ID"><br>

            <small [class.invalid]="type.valid || type.untouched">Type required</small>
            <input type="text" name="userId" required #type="ngModel" class="padding" nbInput fullWidth [(ngModel)] = "messagetype" [status]="type.valid || type.untouched ? 'info' : 'danger'" placeholder="type"><br>

            <small [class.invalid]="msg.valid || msg.untouched">Message required</small>
            <input type="text" name="msg" required #msg="ngModel" class="padding" nbInput fullWidth [(ngModel)] = "message" [status]="msg.valid || msg.untouched ? 'info' : 'danger'" placeholder="message"><br>
          </nb-card-body>
          <nb-card-footer class="centertext">
            <button nbButton outline [disabled]="messageForm.form.invalid" status="success">Submit!!</button>
          </nb-card-footer>
        </nb-card>
      </form>
    </nb-layout-column> 
  </nb-layout>
</nb-card>