<nb-layout>
  <nb-layout-column>
  <nb-card>		
    <nb-card-header class="centertext increased_text_size">Home Page</nb-card-header>	
  </nb-card>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img height="500px" width="100%" class="img-responsive" src="assets/images/june.jpeg">
      </div>
    </div>
  
    <br><br>
  
    <div class="row">
      <div class="col-4">
        <nb-card>
          <nb-card-header>
            <img height="180px" width="100%" src="assets/images/june_1.jpg">
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-4">
        <nb-card>
          <nb-card-header>
            <img height="180px" width="100%" src="assets/images/june_2.png">
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-4">
        <nb-card>
          <nb-card-header>
            <img height="180px" width="100%" src="assets/images/june_3.jpg">
          </nb-card-header>	
        </nb-card>
      </div>		
    </div>
  </div>
  
  
  </nb-layout-column>
  </nb-layout>