<nb-layout>
<nb-layout-column>
<nb-card>
		
	<nb-card-header class="centertext increased_text_size">Home Panel</nb-card-header>
</nb-card>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<nb-card style="text-align: center;">
				<nb-card-header><span class="h1"> Played in  </span></nb-card-header>
				<nb-card-body>
					<h1>10+ countries</h1>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<nb-card style="text-align: center;">
				<nb-card-header><span class="h1"> Ultras Downloads </span></nb-card-header>
				<nb-card-body>
					<h1>50k+</h1>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<nb-card style="text-align: center;">
				<nb-card-header><span class="h1"> Available on </span></nb-card-header>
				<nb-card-body>
					<h1>Android/IOS</h1>
				</nb-card-body>
			</nb-card>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
				<img src="assets/images/ultras.png" class="img-responsive" width="100%" class="img-rounded" alt="Cinque Terre">
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

</nb-layout-column>
</nb-layout>