@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .padding{
    margin-bottom: 20px;
  }

  .centertext
  {
    text-align: center;
  }

  .increased_text_size
  {
      font-size: 40px;
  }

  .invalid{
    visibility: hidden;
    color: red;
  }

}
