<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">June-<span>Panel</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary" style="margin-left: 30px;">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  <nb-select [selected]="current_server" (selectedChange)="changeServer($event)" status="primary" class="serverDropdown">
    <nb-option *ngFor="let ser of server" value={{ser.value}}>{{ ser.name }}</nb-option>
  </nb-select>
</div>


