<nb-layout>
  <nb-layout-column>
<nb-card>
  <nb-card-header class="centertext increased_text_size">User Banning</nb-card-header>
  <nb-layout center>
    <nb-layout-column class="colored-column-warning centertext">
      <small [class.invalid]="formHasError && (id.touched || name.touched)" style="visibility: hidden;">Username or id required</small><br>
      <input type="text" name="id" class="padding_top" (blur)="validateForm(id.value,name.value)" (ngModelChange)="validateForm(id.value,name.value)" #id="ngModel" class="padding" shape="round" [(ngModel)] = "user_id" nbInput fullWidth [status]="!(formHasError && (id.touched || name.touched)) ? 'info' : 'danger'" placeholder="ID">
      <p class="padding_top">OR {{response}}</p>
      <input type="text" name="name" (blur)="validateForm(id.value,name.value)" (ngModelChange)="validateForm(id.value,name.value)" #name="ngModel" class="padding" shape="round" [(ngModel)] = "user_name" nbInput fullWidth [status]="!(formHasError && (id.touched || name.touched)) ? 'info' : 'danger'" placeholder="NAME">   <br>   
      <button class="padding_top" nbButton outline [disabled]="formHasError" fullWidth shape="round" (click)="onsubmit()" status="success">Submit!!</button>
    </nb-layout-column>
  </nb-layout>
</nb-card>
</nb-layout-column>
</nb-layout>