<nb-layout [restoreScrollTop]="">
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                Tournament Panel
            </nb-card-header>
        </nb-card>
        <div class="container-fluid" *ngIf="!Tournament_data_recived">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-2"></div>
                <div class="col-md-4 col-sm-4 col-xs-2">
                    <h2>{{Loading_tournaments_message}}</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid" *ngIf="Tournament_data_recived">
            <div class="row" >
                <div class="col-md-4 col-sm-4 col-xs-4"><hr class="new4"></div>
                <div class="col-md-4 col-sm-4 col-xs-4" align="center"><h6>Scheduled Tournaments</h6></div>
                <div class="col-md-4 col-sm-4 col-xs-4"><hr class="new4"></div>
            </div>
            <div class=row>
                <div *ngFor="let tournament of tournaments; let i = index">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <nb-card>
                            <nb-card-header>
                                Title : {{tournament.title}}
                            </nb-card-header>
                            <nb-card-body>
                                <p>Category : {{tournament.category}}</p>
                                <p>Start Time : {{tournament.start_time * 1000 | date:'medium'}}</p>
                                <p>End Time : {{tournament.end_active * 1000 | date:'medium'}}</p>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-3 col-xs-offset-3 col-sm-offset-3">
                    <nb-list>
                        <nb-list-item>
                            <li>Below is a form for creating a tournament</li>
                        </nb-list-item>
                        <nb-list-item>
                            <li>Creating a tournament is a very sensitive task. Any wrong field can effect in crashing the game</li>
                        </nb-list-item>
                        <nb-list-item>
                            <li>Try to fill all the fields. Check your start and end time from <a target="_blank" href="https://epochconverter.com"> HERE </a></li>
                        </nb-list-item>
                        <nb-list-item>
                            <li>If there is any error which you cannot understand, try to check if all the values are correct</li>
                        </nb-list-item>
                        <nb-list-item>
                            <li>While filling values for cards, <b>Chance</b> is the <b>Probability</b> of getting the card and <b>count</b> is the quantity of that card</li>
                        </nb-list-item>
                    </nb-list>
                    <form [formGroup] = "TournamentForm" (ngSubmit) = "onSubmit()">
                        <div class="row" >
                            <div class="col-md-4 col-sm-4 col-xs-4"><hr class="new4"></div>
                            <div class="col-md-4 col-sm-4 col-xs-4" align="center"><h6>Tournament Info</h6></div>
                            <div class="col-md-4 col-sm-4 col-xs-4"><hr class="new4"></div>
                        </div>
                        
                        <label class="padding-top" for="category"> Category ( 1- 4) :-</label>
                        <input type="number" name="category" formControlName="category" class="form-control" shape="round" nbInput fullWidth placeholder="Category" [status]="TournamentForm.get('category').touched && TournamentForm.get('category').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('category').touched && TournamentForm.get('category').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <label class="padding-top" for="title"> Title :-</label>
                        <input type="text" name="title" formControlName="title" class="form-control" shape="round" nbInput fullWidth placeholder="Title" [status]="TournamentForm.get('title').touched && TournamentForm.get('title').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('title').touched && TournamentForm.get('title').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <label class="padding-top" for="description"> Description :-</label>
                        <input type="text" name="description" formControlName="description" class="form-control" shape="round" nbInput fullWidth placeholder="Description" [status]="TournamentForm.get('description').touched && TournamentForm.get('description').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('description').touched && TournamentForm.get('description').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <label class="padding-top" for="entry_fees"> Entry fees :-</label>
                        <input type="number" name="entry_fees" formControlName="entry_fees" class="form-control" shape="round" nbInput fullWidth placeholder="Entry fees" [status]="TournamentForm.get('entry_fees').touched && TournamentForm.get('entry_fees').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('entry_fees').touched && TournamentForm.get('entry_fees').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <label class="padding-top" for="end_time"> Start Time (Epoch Time required) :-</label>
                        <input type="number" name="start_time" formControlName="start_time" class="form-control" shape="round" nbInput fullWidth placeholder="start time" [status]="TournamentForm.get('start_time').touched && TournamentForm.get('start_time').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('start_time').touched && TournamentForm.get('start_time').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <label class="padding-top" for="end_time"> End Time (Epoch Time required) :-</label>
                        <input type="number" name="end_time" formControlName="end_time" class="form-control" shape="round" nbInput fullWidth placeholder="end time" [status]="TournamentForm.get('end_time').touched && TournamentForm.get('end_time').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('end_time').touched && TournamentForm.get('end_time').hasError('required')" class="text-danger">Field is required</small> <br>
                        <div class="row pd-20" >
                            <div class="col-md-5 col-sm-5 col-xs-5"><hr class="new4"></div>
                            <div class="col-md-2 col-sm-2 col-xs-2" align="center"><h5>Rewards</h5></div>
                            <div class="col-md-5 col-sm-5 col-xs-5"><hr class="new4"></div>
                        </div>
                        
                        <!------------------------------------------- RIBBON 1 -------------------------------------------------------------------------------------->
                        
                        <div class="row pd-20" >
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center"><h5>Ribbon 1 ( Rank 1 )</h5></div>
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                        </div>                
                        
                        <label class="padding-top" for="ucoins_r1">  Ucoins : </label>
                        <input type="number" name="ucoins_r1" formControlName="ucoins_r1" class=" form-control" shape="round" nbInput fullWidth placeholder="UCoins" min="1" max="5000" [status]="TournamentForm.get('ucoins_r1').touched && TournamentForm.get('ucoins_r1').hasError('required') ? 'danger' : 'default'">
                        <small *ngIf = "TournamentForm.get('ucoins_r1').touched && TournamentForm.get('ucoins_r1').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <label class="padding-top" for="ballon_dor_r1"> Ballon-Dor : </label>
                        <input type="number" name="ballon_dor_r1" formControlName="ballon_dor_r1" class="form-control" shape="round" nbInput fullWidth placeholder="Ballon-Dor" [status]="TournamentForm.get('ballon_dor_r1').touched && TournamentForm.get('ballon_dor_r1').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ballon_dor_r1').touched && TournamentForm.get('ballon_dor_r1').hasError('required')" class="text-danger">Field is required</small> <br>
                        
                        <h4 class="pd-20">Common cards :-</h4>        
                        <div formArrayName="common_r1" *ngFor="let reward of commonRewardsToR1.controls; let i = index">
                            <div [formGroupName]="i">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addCommonRewardToR1()">Add Common card to reward</button>
                        
                        <h4 class="pd-20">Rare cards :-</h4>
                        <div formArrayName="rare_r1" *ngFor="let reward of rareRewardsToR1.controls; let j = index">
                            <div [formGroupName]="j">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button  type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addRareRewardToR1()">Add Rare card to reward</button>
                        
                        <h4 class="pd-20">Epic cards :-</h4>
                        <div formArrayName="epic_r1" *ngFor="let reward of epicRewardsToR1.controls; let k = index">
                            <div [formGroupName]="k">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addEpicRewardToR1()">Add Epic card to reward</button>
                        
                        <!------------------------------------------- RIBBON 2 -------------------------------------------------------------------------------------->                
                        
                        <div class="row pd-20" >
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center"><h5>Ribbon 2( Rank 2-5 )</h5></div>
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                        </div>
                        
                        <label class="padding-top" for="ucoins_r2">  Ucoins : </label>
                        <input type="number" name="ucoins_r2" formControlName="ucoins_r2" class=" form-control" shape="round" nbInput fullWidth placeholder="UCoins" [status]="TournamentForm.get('ucoins_r2').touched && TournamentForm.get('ucoins_r2').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ucoins_r2').touched && TournamentForm.get('ucoins_r2').hasError('required')" class="text-danger">Field is required</small> <br>
                        <label class="padding-top" for="ballon_dor_r2"> Ballon-Dor : </label>
                        <input type="number" name="ballon_dor_r2" formControlName="ballon_dor_r2" class=" form-control" shape="round" nbInput fullWidth placeholder="Ballon-Dor" [status]="TournamentForm.get('ballon_dor_r2').touched && TournamentForm.get('ballon_dor_r2').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ballon_dor_r2').touched && TournamentForm.get('ballon_dor_r2').hasError('required')" class="text-danger">Field is required</small> <br>                 
                        
                        <h4 class="pd-20">Common cards :-</h4>        
                        <div formArrayName="common_r2" *ngFor="let reward of commonRewardsToR2.controls; let i = index">
                            <div [formGroupName]="i">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addCommonRewardToR2()">Add Common card to reward</button>
                        
                        <h4 class="pd-20">Rare cards :-</h4>
                        <div formArrayName="rare_r2" *ngFor="let reward of rareRewardsToR2.controls; let j = index">
                            <div [formGroupName]="j">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button  type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addRareRewardToR2()">Add Rare card to reward</button>
                        
                        <h4 class="pd-20">Epic cards :-</h4>
                        <div formArrayName="epic_r2" *ngFor="let reward of epicRewardsToR2.controls; let k = index">
                            <div [formGroupName]="k">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addEpicRewardToR2()">Add Epic card to reward</button>
                        
                        <!------------------------------------------- RIBBON 3 -------------------------------------------------------------------------------------->                                
                        
                        <div class="row pd-20" >
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center"><h5>Ribbon 3( Rank = 6-20)</h5></div>
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                        </div>
                        
                        <label class="padding-top" for="ucoins_r3">  Ucoins : </label>
                        <input type="number" name="ucoins_r3" formControlName="ucoins_r3" class="form-control" shape="round" nbInput fullWidth placeholder="UCoins" [status]="TournamentForm.get('ucoins_r3').touched && TournamentForm.get('ucoins_r3').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ucoins_r3').touched && TournamentForm.get('ucoins_r3').hasError('required')" class="text-danger">Field is required</small> <br>
                        <label class="padding-top" for="ballon_dor_r3"> Ballon-Dor : </label>
                        <input type="number" name="ballon_dor_r3" formControlName="ballon_dor_r3" class=" form-control" shape="round" nbInput fullWidth placeholder="Ballon-Dor" [status]="TournamentForm.get('ballon_dor_r3').touched && TournamentForm.get('ballon_dor_r3').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ballon_dor_r3').touched && TournamentForm.get('ballon_dor_r3').hasError('required')" class="text-danger">Field is required</small> <br>                  
                        
                        <h4 class="pd-20">Common cards :-</h4>        
                        <div formArrayName="common_r3" *ngFor="let reward of commonRewardsToR3.controls; let i = index">
                            <div [formGroupName]="i">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addCommonRewardToR3()">Add Common card to reward</button>
                        
                        <h4 class="pd-20">Rare cards :-</h4>
                        <div formArrayName="rare_r3" *ngFor="let reward of rareRewardsToR3.controls; let j = index">
                            <div [formGroupName]="j">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button  type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addRareRewardToR3()">Add Rare card to reward</button>
                        
                        <h4 class="pd-20">Epic cards :-</h4>
                        <div formArrayName="epic_r3" *ngFor="let reward of epicRewardsToR3.controls; let k = index">
                            <div [formGroupName]="k">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addEpicRewardToR3()">Add Epic card to reward</button>
                        
                        <!------------------------------------------- PARITIPATION -------------------------------------------------------------------------------------->                                
                        
                        <div class="row pd-20" >
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6" align="center"><h5>Participation ( Rank 20-100 )</h5></div>
                            <div class="col-md-3 col-sm-3 col-xs-3"><hr class="new4"></div>
                        </div>
                        
                        <label class="padding-top" for="ucoins_r4">  Ucoins : </label>
                        <input type="number" name="ucoins_r4" formControlName="ucoins_r4" class="form-control" shape="round" nbInput fullWidth placeholder="UCoins" [status]="TournamentForm.get('ucoins_r4').touched && TournamentForm.get('ucoins_r4').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ucoins_r4').touched && TournamentForm.get('ucoins_r4').hasError('required')" class="text-danger">Field is required</small> <br>
                        <label class="padding-top" for="ballon_dor_r4"> Ballon-Dor : </label>
                        <input type="number" name="ballon_dor_r4" formControlName="ballon_dor_r4" class=" form-control" shape="round" nbInput fullWidth placeholder="Ballon-Dor" [status]="TournamentForm.get('ballon_dor_r4').touched && TournamentForm.get('ballon_dor_r4').hasError('required') ? 'danger' : 'default'">                  
                        <small *ngIf = "TournamentForm.get('ballon_dor_r4').touched && TournamentForm.get('ballon_dor_r4').hasError('required')" class="text-danger">Field is required</small> <br>                                 
                        
                        <h4 class="pd-20">Common cards :-</h4>        
                        <div formArrayName="common_r4" *ngFor="let reward of commonRewardsToR4.controls; let i = index">
                            <div [formGroupName]="i">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count( Card {{i + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addCommonRewardToR4()">Add Common card to reward</button>
                        
                        <h4 class="pd-20">Rare cards :-</h4>
                        <div formArrayName="rare_r4" *ngFor="let reward of rareRewardsToR4.controls; let j = index">
                            <div [formGroupName]="j">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{j + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button  type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addRareRewardToR4()">Add Rare card to reward</button>
                        
                        <h4 class="pd-20">Epic cards :-</h4>
                        <div formArrayName="epic_r4" *ngFor="let reward of epicRewardsToR4.controls; let k = index">
                            <div [formGroupName]="k">
                                <div class="row pd-20">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Chance (1 - 100) ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="CHANCE" placeholder="Chance">
                                    </div>
                                    <!-- <div class="col-md-1 col-sm-1 col-xs-1"></div> -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ucoin">  Count ( Card {{k + 1}} ) : </label>
                                        <input type="number" class="form-control padding my-1" formControlName="COUNT" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" nbButton outline fullWidth shape="round" class="pd-20" (click)="addEpicRewardToR4()">Add Epic card to reward</button>
                        
                        
                        <button class="mt-30" [disabled]="!TournamentForm.valid" style="margin-top: 30px;" type="submit" nbButton outline fullWidth shape="round" status="success">Submit!!</button>
                        
                    </form>
                </div>
                
            </div>
        </div>
        
        
    </nb-layout-column>
</nb-layout>